* {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* NAVBAR */
.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* HAMBURGER */
.menu-toggle {
    display: none;
    font-size: 25px;
    cursor: pointer;
}

/* LOGO */
.nav-logo, .logo {
    height: 50px;
    width: 100px;
    background-image: url("amazon_logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}

/* BOX2 */
.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 20px;
}
.add-icon {
    display: flex;
    align-items: center;
}
.add-second {
    font-size: 1rem;
}

/* SEARCH */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-radius: 4px;
    color: #0f1111;
}
.nav-search:hover {
    border: 2px solid orange;
}

/* NAV TEXT */
span {
    font-size: 0.7rem;
}
.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* CART */
.nav-cart i {
    font-size: 30px;
}
.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/* PANEL */
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.panel-all {
    font-weight: 700;
}
.panel-ops {
    width: 70%;
}
.panel-ops p {
    display: inline;
    margin: 10px;
}
.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* HERO */
.hero-section {
    background-image: url("hero_image.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-mssg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

/* SHOP */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0 15px;
    margin-top: 15px;
}
.box-img {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem 0;
}

/* FOOTER */
footer {
    margin-top: 15px;
}
.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel2 {
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.foot-link {
    width: 200px;
    margin-top: 40px;
}
ul a {
    display: block;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}
.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo2 {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panel4 {
    background-color: #131A22;
    color: white;
    height: 80px;
    font-size: 0.75rem;
    text-align: center;
}
.pages {
    padding: 25px;
    color: white;
}